    * {
      margin: 0;
      padding: 0;
    }
    .center {
      position: relative;
      margin: 0px auto;
    }


.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
    border: solid 1px;
    border-color: #000000;
    width: 640px;
    height: 480px;
    position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    #videoElement {
      width: 100%;
    height: 100%;
      background-color: #666;


    }

    #hover {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
    }

    #selector {
      position: absolute;
      display: block;
      left: 570px;
      top: 20px;	
    }


    #sight {
      border-color: #55ff88;
      position: absolute;
      width: 640px;
      height: 480px;   
      font-size: 0px;
    }
	.vertline
	{
		border: solid 1px;
    	border-color: inherit;
      	width: 330px;
      	height: 100%;
      	display: inline-block;
      	font-size: 0px;
      	border-top: none;
	    border-left: none;
		border-bottom: none;
	}
	.horline
	{
      position: absolute;
		border: solid 1px;
    	border-color: inherit;
		top: 0px;
      	width: 100%;
      	height: 214px;
      	display: inline-block;
      	font-size: 0px;
      	border-top: none;
	    border-left: none;
		border-right: none;
	}

#circle {
    border: solid 1px;
    border-color: inherit;
    border-radius: 100%;
    position: absolute;
}
.circle_04 { width: 7px; height: 7px; top: 210px; left: 325px; margin-top: -4px; margin-left: -4px }
.circle_05 { width: 9px; height: 9px; top: 209px; left: 324px; margin-top: -5px; margin-left: -5px }
.circle_06 { width: 11px; height: 11px; top: 208px; left: 323px; margin-top: -6px; margin-left: -6px }
.circle_07 { width: 13px; height: 13px; top: 207px; left: 322px; margin-top: -7px; margin-left: -7px }
.circle_08 { width: 15px; height: 15px; top: 206px; left: 321px; margin-top: -8px; margin-left: -8px }
.circle_09 { width: 19px; height: 19px; top: 205px; left: 320px; margin-top: -10px; margin-left: -10px }
.circle_10 { width: 21px; height: 21px; top: 204px; left: 319px; margin-top: -11px; margin-left: -11px }
.circle_11 { width: 23px; height: 23px; top: 203px; left: 318px; margin-top: -12px; margin-left: -12px }
.circle_12 { width: 27px; height: 27px; top: 201px; left: 316px; margin-top: -14px; margin-left: -14px }

